body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

#root {
  margin: 0 auto;
  width: 1000px;
  min-height: 100vh; 
  background-color: #F3F7FA;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media (max-width: 430px) {
  #root {
    width: auto;
  }
}
