
.app {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

@media (max-width: 430px) {
  .app {
    flex-direction: column;
  }

}