.TicketsList {
  display: flex;
  flex-direction: column;
}

.loadMoreButton {
  padding: 8px 16px;
  background-color: #1890ff;
  text-transform: uppercase;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 16px;
}

.loadMoreButton:hover {
  background-color: #40a9ff;
}

.message {

  text-align: center;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dfe5ec;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #A0B0B9;
  margin-top: 0;
}

.message-wrapper {
  display: flex;
  justify-content: space-between;
}
